---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <!-- Look up authors. -->
    {% assign authorCount = post.author | size %}
    <span class="post-authors">    
    {% if authorCount == 0 %}
      <a href="sstmap.org" target="_blank">SSTMap</a>
    {% elsif authorCount == 1 %}
      {% assign the_author = site.data.authors[post.author] %}
        Written by <a href="{{ the_author.web }}" target="_blank">{{ the_author.name }}</a>    
    {% else %}
      {% for nth_author in post.author %}
        {% assign the_author = site.data.authors[nth_author]%}
        {% if forloop.first %}        
          Written by <a href="{{ the_author.web }}" target="_blank">{{ the_author.name }}</a>
        {% elsif forloop.last %}
          and <a href="{{ the_author.web }}" target="_blank">{{ the_author.name }}</a>
        {% else %}
            , <a href="{{ the_author.web }}" target="_blank">{{ the_author.name }}</a>
        {% endif %}
      {% endfor %}
    {% endif %}
  </span>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.excerpt }}  
    <br>  
    <a href="{{ post.url }}">Read More</a>   

  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
